# Ignore Python virtual environment
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# Ignore environment files
.env

# Ignore data files (if applicable)
*.csv
*.json
*.xlsx
*.db
